<!-- ./src/app/app.component.html -->
<div class="section">
  <div class="container">
    <div class="content">
      <h1 class="title">Space Battle Game</h1>
      <h6 class="subtitle is-6"><strong>Space Battle Simulator</strong></h6>
      <hr>
      <input #gameId>
      <button (click)="getGameStatus(gameId.value)">Get Game Status</button>
      <!-- loops through the boards array and displays the player and board tiles -->
      <div class="column has-text-centered" *ngFor="let player of gameStatus.players; let i = index">
        <h5>
          PLAYER {{ player.user_id }} 
        </h5>
        <table class="is-bordered" [style.opacity]="i == player ? 0.5 : 1">
          <tr *ngFor="let row of player.board; let j = index">
            <td *ngFor="let col of row.split(''); let k = index"  [style.background-color] = "col ? '' : 'transparent'"
              [class.hit]="col == 'X'" [class.miss]="col == '-'" class="battleship-tile" id="t{{i}}{{j}}{{k}}">
              {{ col }}
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>
  </div>